# Binaries
*/out
*/obj
*.out
*.o

# Ignore make files since we're generating them with premake
*/Makefile
*/**.make

# mac filesystem stuff
.DS_Store

# ignore the input files for the AoC puzzle
input*
